:root {
    --dark-bg: #282828;
    --font-black: #1d1d1b;
    --font-white: #FFFFFF;
  }
@font-face {
    font-family: 'Bebas';
    src: url('./fonts/Bebas-Regular.otf');
}
body {
    margin: 0;
    padding: 0;
}

.navbar-nav a h2 {
    font-family: 'Bebas' !important;
    letter-spacing: 0.1rem;
    color: var(--font-black);
}
.navbar-nav .spacer {
    width: 10px;
}